.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background: #6910a8;
  padding: 0 4rem;

  @media only screen and (max-width: 976px) {
    padding: 0 1rem;
  }
}

.navDiv {
  display: flex;
  height: 100%;
  gap: 0.5rem;
  box-sizing: border-box;
  align-items: center;
}

.navDivItem {
  display: flex;
  text-decoration-line: none;
  color: white;
  margin: 0 0.5rem;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.navButton {
  background: white;
  color: black;
  box-shadow: none;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  padding: 0.5rem;
  height: 2rem;
  font-weight: 600;
  transition: all ease-in-out 0.3s;

  &:hover {
    background: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
  }
}

.logo {
  font-family: "Leckerli One", cursive;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}