body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
}

header{
  background: black;
  color:white;
  border-radius: 1rem;
  padding: 0 1.5rem;
}

main{
  border-radius: 1.5rem;
  padding: 0 1.5rem;
}

h2{
  border-bottom: 1px solid black;
  font-size: 1.7rem;
}

h3{
  font-size: 1.5rem;
}

h4{
  margin: 1rem 1.5rem;
}

h5, p, pre, div{
  margin: 0.625rem 1.7rem;
  padding: 0.5rem;
}

p, div{
  border-radius: 0.5rem;
  background: white;
}

a {
  text-decoration-line: none;
  color: #0b9dd6;
  font-weight: 500;
  font-size: 1.025rem;
}

article{
  background: rgba(0, 0, 0, 0.075);
  border-radius:1.5rem;
  padding: 0.25rem 1.5rem;
  margin: 1rem 0;
}

pre{
  background: rgba(0, 0, 0, 0.125);
  color:black;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
}