<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <h1>
            Welcome to <%= title %>
        </h1>
    </header>

    <main>
        <section id="usage">
            <h2>
                Usage
            </h2>
            <article id="users">
                <h3>
                    Users
                </h3>
                <h4>
                    GET METHODS:
                </h4>

                <p>
                    Get Users Listing: <a href="/users">/users</a>
                </p>
                <p>
                    Get First User (by Id): <a href="/users/1">/users/1</a>
                </p>
                <p>
                    Get First User Posts (by Id): <a href="/users/1/posts">/users/1/posts</a>
                </p>
                <h4>
                    POST METHODS:
                </h4>
                <div>
                    User Log-In Validation : <a href="#">/users/login</a>
                    <h5>
                        EXAMPLE:
                    </h5>
                    <pre>
{
    email : text,
    password : text
}</pre>
                </div>

                <div>
                    Register User : <a href="#">/users/signup</a>
                    <h5>
                        EXAMPLE:
                    </h5>
                    <pre>
{
    firstName : text,
    lastName : text,
    email: text,
    password: text,
    photo: text,
    file: file
}</pre>
                </div>
                <h4>
                    PUT METHODS:
                </h4>
                <div>
                    Update User (by Id) : <a href="#">/users/1</a>
                    <h5>
                        EXAMPLE:
                    </h5>
                    <pre>
{
    firstName : text,
    lastName : text,
    email: text,
    password: text,
    photo: text
}</pre>
                </div>
                <h4>
                    DELETE METHODS:
                </h4>
                <p>
                    Delete First User (by Id): <a href="#">/users/1</a>
                </p>
            </article>
            <article id="posts">
                <h3>
                    Posts
                </h3>
                <h4>
                    GET METHODS:
                </h4>
                <p>
                    Get Posts Listing: <a href="/posts">/posts</a>
                </p>
                <p>
                    Get First Post (by Id): <a href="/posts/1">/posts/1</a>
                </p>
                <h4>
                    POST METHODS:
                </h4>
                <div>
                    POST a post : <a href="#">/posts</a>
                    <h5>
                        EXAMPLE:
                    </h5>
                    <pre>
{
    title : text,
    content : text,
    userId : text,
    file: file
}</pre>
                </div>
                <h4>
                    PUT METHODS:
                </h4>
                <div>
                    Update Post (by Id) : <a href="#">/posts/1</a>
                    <h5>
                        EXAMPLE:
                    </h5>
                    <pre>
{
    prevImage : text,
    title : text,
    content: text,
    file: file
}</pre>
                </div>
                <h4>
                    DELETE METHODS:
                </h4>
                <p>
                    Delete First Post (by Id): <a href="#">/posts/1</a>
                </p>
            </article>
            <article id="images">
                <h3>
                    Images
                </h3>
                <h4>
                    GET METHODS:
                </h4>
                <p>
                    Get Image (by Name): <a href="/images/123.jpg">/images/123.jpg</a>
                </p>
                <h4>
                    DELETE METHODS:
                </h4>
                <p>
                    DELETE Image By Name FROM SERVER: <a href="/images/remove/123.jpg">/images/remove/123.jpg</a>
                </p>
                <p>
                    DELETE Image By Name FROM SERVER and DATABASE: <a href="/images/123.jpg">/images/123.jpg</a>
                </p>
            </article>
            <article id="photos">
                <h3>
                    Photos
                </h3>
                <h4>
                    GET METHODS:
                </h4>
                <p>
                    Get Photo (by User-Id and Name): <a href="/photos/1/123.jpg">/photos/1/123.jpg</a>
                </p>
            </article>
        </section>
    </main>

</body>

</html>