@use "src/styles/layouts";

.accountSettingsLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 4rem);

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100vh - 4rem);
    background: #b4a1f7;
    clip-path: polygon(45.5% 0, 100% 0%, 100% 100%, 32% 100%);
    z-index: -1;

    @media only screen and (max-width: 976px) {
      flex-direction: column;
      clip-path: polygon(0 11.5%, 100% 70%, 100% 100%, 0 100%);
    }
  }
}

.accountSettingsCard {
  @extend %card;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
}

.changeAccountFieldGroup {
  width: 21rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  position: relative;
}

.profilePhotoArea {
  display: inline-flex;
  justify-content: center;
}

.profilePhoto {
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  transition: all ease-in 0.3s;

  &:hover {
    filter: brightness(50%);
    cursor: pointer;
  }
}


.imageInput {
  position: absolute;
  height: 12rem;
  width: 12rem;
  left: 25%;
  z-index: -1;
}

.accountSettingsMessageLabel {
  font-size: 1rem;
  align-self: center;
  color: crimson;
  
  @media only screen and (max-width: 576px) {
    font-size: 0.8rem;
  }
}
